$head-text-color: #000000;
$text-color: #858585;
$main-bg-color: #efefef;
$primary-bg-color: #ffffff;
$black-bg-color: #000000;

$main-font-family: Stratos LC Web;

$font-weight-4: 400;
$font-weight-5: 500;

$heading-font-size: 24px;
$logo-fs: 20px;
$text-fs: 15px;
$main-button-fs: 20px;
$order-button-font-size: 15px;
$price-fs: 32px;

$heading-lh: 32px;
$order-button-line-height: 20px;
$text-lh: 20px;
$price-lh: 40px;

$mobile: 376px;
$tablet2: 760px;
$tablet1: 960px;
$desktop: 1280px;
