.main-container {
  background-color: $main-bg-color;
  margin: auto;
  width: 100%;
  max-width: 1144px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";

  @media screen and (min-width: $tablet1) and (max-width: $desktop) {
    max-width: 760px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "c1 c2"
      "c3 c4 "
      "c5 c6"
      "c8 c9";
  }

  @media screen and (max-width: $mobile) {
    padding: 0 20px;
  }

  // Containers

  .container_1 {
    padding: 32px;
    background-color: $primary-bg-color;
    border-radius: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 184px;
    max-height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 8px;
    }

    @media screen and (min-width: $tablet2) and (max-width: $tablet1) {
      max-height: 176px;
    }

    @media screen and (max-width: $mobile) {
      max-height: 136px;
    }

    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12),
        0px 12px 36px rgba(0, 0, 0, 0.16);
    }
  }

  .container_2 {
    padding: 32px;
    background-color: $primary-bg-color;
    border-radius: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    min-height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $tablet2) and (max-width: $tablet1) {
      min-height: 176px;
    }

    @media screen and (max-width: $mobile) {
      min-height: 88px;
    }

    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12),
        0px 12px 36px rgba(0, 0, 0, 0.16);
    }
  }

  .c1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .c2 {
    display: block;
  }

  .c3 {
    @media screen and (min-width: $desktop) {
      margin-top: 97px;
    }

    .text {
      margin-top: 16px;
      margin-bottom: 88px;
    }
  }

  .c4 {
    display: flex;
  }

  .empty-card {
    @media screen and (max-width: $desktop) {
      display: none;
    }
  }

  // All other things
  .heading {
    width: 100%;
    align-items: center;
  }

  .card-list {
    //margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .TextToBottom {
    display: flex;
    justify-content: flex-end;
  }

  .project-list {
    margin-top: 16px;
    margin-bottom: 76px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: $font-weight-4;
    font-size: $text-fs;
    color: $text-color;

    @media screen and (min-width: $tablet2) and (max-width: $tablet1) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }

  .project-item {
    padding-bottom: 12px;
    padding-left: 25px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      //transform: translateX(-200%);
      display: block;
      content: url("../images/mark.svg");
      fill: currentColor;
      height: 8px;
      width: 12px;
    }
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $black-bg-color;
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .insta-ellipse {
    margin-bottom: 60px;
    width: 40px;
    height: 40px;
  }
}
