@font-face {
  font-family: "Stratos";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Stratos-Regular-Desktop.otf"),
    url("../fonts/Stratos-Regular-Desktop.eot") format("embedded-opentype"),
    url("../fonts/Stratos-Regular-Desktop.ttf") format("truetype"),
    url("../fonts/Stratos-Regular-Desktop.woff") format("woff");
}
